<<<<<<< HEAD
body {
    margin: 170px;
}

.apple {
    width: 10px;
}

.orange {
    color: orange;
}

.melon {
    size: 5px;
}

.myChange {
    height: 50px;
}

.rv {
    color: white;
}
=======
>>>>>>> parent of 500d715... first commit
